*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face {
font-family: 'OpenSans-Regular';
src: url(../fonts/OpenSans-Regular.woff);
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'OpenSans-Bold';
src: url(../fonts/OpenSans-Bold.woff);
font-weight: bold;
font-style: normal;
}

.news-img, .new-img{
display: block;
}

@media (min-width: 641px) and (max-width: 1200px) {
.header {
    background-image: url(../images/banner-bg-tablet.jpg);
    }
.trend {
    width: 50%;
    }
}
@media (max-width: 640px) and (orientation: landscape){
.header {
    background-image: url(../images/banner-mobile.jpg);
    }
.trend {
    width: 100%;
    }
}   

@media (max-width: 640px) and (orientation: portrait){
.header {
    background-image: url(../images/banner-mobile.jpg);
    }
.trend {
    width: 50%;
    }
}

.header {
width: 100%;
position: relative;
background-image: url(../images/banner-bg.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-color: #000000;
z-index: 0;  
margin-bottom: 60px;
padding: 30px 248px 125px;
}

.header::after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: #000000;
opacity: 0.6;
z-index: -1;
}

.header-container {
width: 75rem;
margin: auto;
}

.header-title {
font-family: 'OpenSans-Bold', Arial, sans-serif;
color: #ffffff; 
font-size: 2.8125rem;
line-height: 1.7;
text-transform: uppercase;
text-align: center;
width: 43.75rem;
margin: auto;
padding: 130px 0;
}

.logo-img {
width: 11.18rem;
}

.header-menu {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 0.8125rem;
}

.menu {
margin: 0;
box-sizing: border-box;
}

.menu-list {
display: flex;
list-style-type: none;
align-items: center;
}

.menu-link {
font-family: 'OpenSans-Regular', Arial, sans-serif;
text-decoration: none;
color: #ffffff;
text-transform: uppercase;
}

.menu-list-item {
padding-top: 20px;
padding-left: 20px;
}

.trends {
width: 100%;
display: flex;
flex-wrap: wrap;
margin-top: 30px;
}

.trend {
width: 24.8%;
height: 20rem;
position: relative;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-color: #000000;
z-index: 1; 
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.trend:nth-of-type(1) {
background-image: url(../images/trend1.jpg);
}

.trend:nth-of-type(2) {
background-image: url(../images/trend2.jpg);
}

.trend:nth-of-type(3) {
background-image: url(../images/trend3.jpg);
}

.trend:nth-of-type(4) {
background-image: url(../images/trend4.jpg);
}

.trend::after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: #000000;
opacity: 0.6;
z-index: -1;
}

.trend:nth-child(-n + 3) {
margin-right: 3px;
}

.trend-teg {
list-style: none;
display: flex;
margin-bottom: 15px;
}

.trend-teg-item{
margin-right: 20px;
}

.trend-teg-link {
text-decoration: none;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
color: #b59f5b;
font-size: 0.875rem;
}

.trend-link {
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
color: #ffffff;
font-size: 1.25rem;
line-height: 1.2;
margin-bottom: 40px;
}

.trend-block{
width: 90%;
border: 3px solid #b59f5b;
padding: 35px 33px;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}

.trends-top {
text-align: center;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
font-size: 1.125rem;
line-height: 1.3;
}
    
.trends-top::after {
content: "";
display: block;
position: relative;
margin: auto;
margin-top: 10px;
width: 3.75rem;
height: 0.1875rem;
background: #b59f5b;
}

.page{
margin-top: 60px;
}

.page-container {
width: 75rem;
margin: auto;
display: flex;
justify-content: space-between;
}

.main {
width: 48.75rem;
}

.news {
margin-top: 60px;
}

.news:nth-child(1) {
margin-top: 0px;
}

.news-img {
width: 23.75rem;
}

.news-teg {
list-style: none;
margin-bottom: 15px;
display: flex;
}

.news-teg-item {
margin-right: 20px;
}

.news-teg-link {
text-decoration: none;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
color: #b59f5b;
font-size: 0.875rem;
margin-left: 30px;
}

a {
text-decoration: none;
color: #0f0d0e;
}

.news-name {
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
font-size: 1.25rem;
line-height: 1.2;
margin-bottom: 40px;
margin-left: 30px;
}

.date {
color: #888888;
font-size: 0.75rem;
margin-right: 10px;
}

.author {
font-family: 'OpenSans-Bold', Arial, sans-serif;
color: #000000;
font-size: 0.75rem;
}

.about {
margin-top: 50px;
margin-left: 30px;
}  

.date, .auhor {
margin-left: 30px;  
}

.news, .new {
display: flex;
}

.aside-news-title {
text-align: center;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
font-size: 0.875rem;
line-height: 1.3;
}

.aside-news-title:after {
content: "";
display: block;
position: relative;
margin: auto;
margin-top: 10px;
width: 3.75rem;
height: 0.1875rem;
background: #b59f5b;
}

.new-name{
margin-top: 10px;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
font-size: 0.8125rem;
line-height: 1.2;
}

.new {
margin-top: 20px;
}

.new-img {
width: 5rem;
}

.aside {
width: 16.875rem;
}

.new-text a {
text-decoration: none;
color:#000000;
}

.new-text {
margin-left: 18px;
}

.date, .date-article {
font-size: 0.75rem;
text-decoration: none;
color:#000000;
opacity: 0.54;
}

.search {
margin-top: 50px;
display: flex;
width: 100%;
}

.search-button {
background-image: url(../images/search.svg);
width: 3.125rem;
background-repeat: no-repeat;
background-size: 20px;
background-position: center center;
background-color: #b59f5b;
border: none;   
}

.search-field {
box-sizing: border-box;
padding-left: 20px;
width: 13.8rem;
height: 3.125rem;
font-size: 0.8125rem;
border: none;
background-color:#f4f7f6;
}

.subscribe {
text-align: center;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
font-size: 0.875rem;
line-height: 1.3;
margin-top: 40px;
}

.subscribe:after {
content: "";
display: block;
position: relative;
margin: auto;
margin-top: 10px;
width: 3.75rem;
height: 0.1875rem;
background: #b59f5b;
}

.mailing-field {  
width: 100%;
box-sizing: border-box;
padding-left: 20px;
margin-top: 25px;
height: 3.125rem;
font-size: 0.8125rem;
background-color: #f4f7f6;
border: none;
}

.mailing-button {
margin-top: 20px;
height: 3.125rem;
font-size: 0.8125rem;
width: 100%;
background-color: #b59f5b;
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-transform: uppercase;
color: #ffffff;
border: none;
}

.list-tegs {
list-style-type: none;
display: flex;
flex-wrap: wrap;
}

.list-tegs-item {
margin-top: 25px;
margin-left: 3px;
margin-right: 3px;
}

.tegs-link {
font-family: 'OpenSans-Bold', Arial, sans-serif;
text-decoration: none;
align-content: space-between;
text-transform: uppercase;
color: #0f0d0e;
font-size: 0.75rem;
padding: 5px 10px;
border: 3px solid #f4f3f1;
}

.list-theme {
list-style-type: none;
}

.theme-link {
align-content: space-between;
text-decoration: none;
font-family: 'OpenSans-Bold', Arial, sans-serif;
color: #000000;
font-size: 0.8125rem;
padding: 0 3px 0 0;
}

.list-theme-item {
margin-top: 15px;
margin-left: 3px;
}

.list-theme-item::after {
content: "";
display: block;
position: relative;
margin-top: 15px;
width: 100%;
height: 1px;
background: #eeeeee;
}

.theme-count {
vertical-align: top;
color: #b59f5b;
font-family: 'OpenSans-Bold', Arial, sans-serif;
font-size: 0.75rem;
}

.icon-twitter {  
background-image: url(../svg/004-twitter.svg);
}

.icon-pinterest {
background-image: url(../svg/001-pinterest.svg);
}

.icon-facebook {
background-image: url(../svg/002-facebook-logo.svg);
}

.icon-instagram {
background-image: url(../svg/005-instagram.svg);
}

.icon-tumblr {
background-image: url(../svg/003-tumblr.svg);
}

.footer-container {
width: 75rem;
margin: auto;
}

.footer-address {
margin-top: 60px;
margin-bottom: 20px;
background-color: #f4f7f6;
padding: 30px 0;
}

.footer-list {
list-style-type: none;
display: flex;
justify-content: center;  
}

.icon {
display: block;
width: 1.875rem;
height: 1.875rem;
background-position: center center;
background-repeat: no-repeat;
background-size: 20px;
padding: 20px;
}

.hidden {
width: 0.0625rem;
height: 0.0625rem;
clip: rect(1px, 1px, 1px, 1px);
position: absolute;
}

.copyright {
text-decoration: none;
color: #999999;
font-family: 'OpenSans-Bold', Arial, sans-serif;
font-size: 0.75rem;
text-align: center;
padding: 20px;
}